@model Cookbook.Web.Models.Ingredient.EditIngredientModel


@{
    /**/

    ViewBag.Title = "Edit";
}

<h2>Edition de la recette @Model.Name</h2>

@using (Html.BeginForm("Update", "Ingredient"))
{

    <div class="row form-group">
        @Html.LabelFor(obj => obj.TimeToCook, new { @class = "cotrol-label col-sm-2" })
        @Html.DropDownListFor(obj => obj.un)
    </div>

    @Html.HiddenFor(obj => obj.Id)

    <div class="row">
        <div class="col-sm-12">
            <input type="submit" value="Sauvergader" />
        </div>
    </div>
}
