@* Notre vue devient fortement typée.*@
@model Cookbook.Web.Models.Home.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Bienvenue @Model.userName</p>

<p>@ViewBag.MonMessage</p>

